<div class="tab-container">

  <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.reqType">

      <button mat-raised-button (click)="addTab(selectAfterAdding, index)">
        Nova Request
      </button>
      <button mat-raised-button [disabled]="tabs.length === 1" (click)="removeTab(index)">
        Remover Request
      </button>

      <div class="grid input-grid">
        <mat-form-field appearance="outline">
          <mat-label>Request Type</mat-label>
          <mat-select [(value)]="tab.reqType">
            <mat-option value="GET">GET</mat-option>
            <mat-option value="POST">POST</mat-option>
            <mat-option value="PUT">PUT</mat-option>
            <mat-option value="DELETE">DELETE</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Request URL</mat-label>
          <input matInput [formControl]="reqUrl">
        </mat-form-field>
        <button mat-raised-button (click)="makeRequest()">Send</button>

      </div>

    </mat-tab>
  </mat-tab-group>
</div>